@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

/*ОБЩИЕ СТИЛИ*/
html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "inter", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  color: #565c66;
  background-color: #feafc3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*тексты*/
.title-first {
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  color: #2d3440;
  margin: 0;
}
.title-second {
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2d3440;
  text-align: center;
  margin: 0;
}
.title-third {
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2d3440;
  margin: 0;
}
.title-fourth {
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2d3440;
  margin: 0;
}
.title-fifth {
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #2d3440;
  margin: 0;
}
.paragraph-first {
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #2d3440;
  margin: 0;
}
.paragraph-second {
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565c66;
  margin: 0;
}
.paragraph-third {
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #565c66;
  margin: 0;
}
.paragraph-third::-webkit-input-placeholder {
  color: #b9b9b9;
}

.paragraph-third::-moz-placeholder {
  color: #b9b9b9;
}

.paragraph-third:-ms-input-placeholder {
  color: #b9b9b9;
}

.paragraph-third:-moz-placeholder {
  color: #b9b9b9;
}

.paragraph-third-bold {
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #565c66;
  margin: 0;
}
.signature {
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #565c66;
  margin: 0;
}
.signature-bold {
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #565c66;
  margin: 0;
}
.signature-second {
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #565c66;
  margin: 0;
}
.link {
  text-decoration: none;
  color: #2d3440;
}
.button {
  text-align: center;
  text-decoration: none;
  color: #2d3440;
  background-color: #fcfcfc;
  border: 2px solid #ffcbd8;
  outline: 2px solid #ffcbd8;
  border-radius: 50px;
  padding: 12px 32px 12px 32px;
  display: block;
  width: max-content;
  height: min-content;
  word-wrap: break-word;
}
.button:hover {
  background-color: rgba(252, 252, 252, 0.4);
  border: 2px solid #fcfcfc;
  outline: 2px solid #fcfcfc;    
}
.button:focus {
  background-color: #fcfcfc;
  border: 2px solid #2d3440;
  outline: 2px solid rgba(252, 252, 252, 0); 
}
.button:disabled {
  color: #b9b9b9;
  background-color: #e7e7e7;
  border: 2px solid #ffcbd8;
  outline: 2px solid #ffcbd8;   
}
.button-second {
  text-align: center;
  text-decoration: none;
  color: #fcfcfc;
  background-color: #ff2f64;
  border: 2px solid #ffcbd8;
  outline: 2px solid #ffcbd8;
  border-radius: 50px;
  padding: 12px 32px 12px 32px;
  display: block;
  width: max-content;
  height: min-content;
  word-wrap: break-word;
}
.button-second:hover {
  color: #2d3440;
  background-color: #fcfcfc;
  border: 2px solid #ff2f64;
  outline: 2px solid #ff2f64;
}
.button-second:focus {
  background-color: #ff2f64;
  border: 2px solid #2d3440;
  outline: 2px solid rgba(252, 252, 252, 0);
}
.button-second:disabled {
  color: #565c66;
  background-color: #b9b9b9;
  border: 2px solid #e7e7e7;
  outline: 2px solid #e7e7e7;
}
/*ШАПКА*/
.page-header {
  display: flex;
  width: 1170px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}
.logo-link {
  margin: 24px 0 24px 0;
  outline: none;
  border-radius: 50px;  
}
.logo-link:focus {
  box-shadow: inset 0 0 0 2px #2d3440;  
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1017px;
}
.nav-list-left {
  margin: 0 auto 0 0;
  padding: 0;
  width: 400px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.navigation .link {
  box-sizing: border-box;
  display: block;
}
.nav-list-left .link {
  padding: 8px 16px 8px 16px;
  border-radius: 50px;
  outline: none;
}
.nav-list-left .link:hover {
  background-color: rgba(252, 252, 252, 0.5);
}
.nav-list-left .link:focus {
  background-color: rgba(252, 252, 252, 0.5);  
  box-shadow: inset 0 0 0 2px #2d3440;
}
.nav-list-left .link:active {
  background-color: rgba(252, 252, 252, 1);
  box-shadow: none;   
}
.current-link {
  color: #fcfcfc;
  background-color: #ff4a78;
}
.header-tel {
  padding: 0 2px 0 0;
  outline: none;
  border-radius: 50px;  
}
.header-tel:hover {
  opacity: 0.5; 
}
.header-tel:focus {
  box-shadow: inset 0 0 0 2px #2d3440;
}
.header-tel:active {
  opacity: 0.3; 
  box-shadow: none;   
}
.nav-list-right {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.nav-list-right .nav-item {
  margin: 0 0 0 16px;
}
.search {
  min-width: 32px;
  min-height: 32px;
  background-color: rgba(252, 252, 252, 0.3);
  background-image: url(../images/svg/search.svg);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  outline: none;
}
.search:hover {
  background-color: rgba(252, 252, 252, 0.5); 
}
.search:focus {
  box-shadow: inset 0 0 0 2px #2d3440;
}
.search:active {
  background-color: rgba(252, 252, 252, 1);
  box-shadow: none;   
}
.enter {
  width: 92px;
  min-height: 32px;
  padding: 6px 16px 6px 40px;
  background-color: rgba(252, 252, 252, 0.3);
  background-image: url(../images/svg/log_in.svg);
  background-position: 16px center;
  background-repeat: no-repeat;
  border-radius: 25px;
  outline: none;  
}
.enter:hover {
  background-color: rgba(252, 252, 252, 0.5); 
}
.enter:focus {
  box-shadow: inset 0 0 0 2px #2d3440;
}
.enter:active {
  background-color: rgba(252, 252, 252, 1);
  box-shadow: none;   
}
.basket {
  width: max-content;
  min-height: 32px;
  padding: 6px 16px 6px 40px;
  background-color: rgba(252, 252, 252, 0.3);
  background-image: url(../images/svg/cart.svg);
  background-position: 16px center;
  background-repeat: no-repeat;
  border-radius: 25px;
  outline: none;  
}
.basket:hover {
  background-color: rgba(252, 252, 252, 0.5); 
}
.basket:focus {
  box-shadow: inset 0 0 0 2px #2d3440;
}
.basket:active {
  background-color: rgba(252, 252, 252, 1);
  box-shadow: none;   
}
.not-empty-basket {
  background-image: url(../images/svg/cart_full.svg);
}
/*ОСНОВНАЯ ЧАСТЬ ГЛАВНОЙ СТРАНИЦЫ*/
.main-container {
  flex-grow: 1;
  width: 1170px;
  margin: 0 auto;
}
/*Слайдер*/
.main-products {
  margin: 0 0 80px 0;
  position: relative;
}
.slider-container {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.slider {
  display: flex;
}
.product-description {
  margin: 136px 0 0 70px;
  width: 470px;
  display: none;
}
.product-description .title-first {
  margin: 0 0 24px 0; 
}
.product-description .paragraph-first {
  margin: 0 0 48px 0;
  width: 414px;
}
.slider-img-container {
  position: relative;
  width: 100px;
  height: 150px;
  text-align: center;
  opacity: 0.4;
  align-self: center;
}
.slider-img-container::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  top: 20%;
  left: 0;
  background-color: #ffcbd8;
}
/*Активный слайдер*/
.slider-active {
  order: -1;
}
.slider-active .product-description {
  display: block;
}
.slider-active .slider-img-container {
  width: 306px;
  height: 507px;
  opacity: 1;
}
.slider-active .slider-img-container::before {
  width: 312px;
  height: 312px;
}
.slider-active .slider-img {
  width: 306px;
  height: 507px;
}
.slider-button {
  position: absolute;
  top: 50%;
  left: 521px;
  transform: translateY(-50%);
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #fcfcfc;
  color: #fcfcfc;
  padding: 8px 8px 8px 8px;
  cursor: pointer;
  outline: none;
}
.slider-button:hover {
  background-color: #fcfcfc;
  color: #2d3440;
}
.slider-button:focus {
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #2d3440;
  color: #2d3440;  
}
.slider-button:active {
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid rgba(252, 252, 252, 0.3);
  color: rgba(252, 252, 252, 0.3);  
}
.slider-next {;
  left: 833px;
}
.pagination-social-container {
  display: flex;
  justify-content: space-between;
}
.slider-pagination-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.slider-pagination-list .pagination-item {
  margin: 0 8px 0 0;
  padding: 0;
}
.pagination-button {
  margin: 0;
  padding: 0;
  width: 12px;
  height: 12px;
  border: 1px solid rgba(252, 252, 252, 0);
  border-radius: 50px;
  background-color: rgba(252, 252, 252, 0.3);
  outline: none;
}
.pagination-button-current {
  background-color: #fcfcfc;
}
.pagination-button:hover {
  border: 1px solid #fcfcfc;
}
.pagination-button:focus {
  border: 1px solid #2d3440;
}
.social-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.social-list a {
  margin: 0 0 12px 12px;
  display: block;
  width: 24px;
  height: 24px;
  border: 2px solid  #ffcbd8;
  border-radius: 50px;
  outline: none;
}
.vk {
  background-image: url(../images/svg/vk.svg);
}
.fb {
  background-image: url(../images/svg/facebook.svg);
}
.insta {
  background-image: url(../images/svg/instagram.svg);
}
.social-list a:hover {
  background-color: #2d3440;
}
.social-list a:focus {
  border: 2px solid #2d3440;
}
/*Подарки*/
.gifts {
  margin: 0 0 80px 0;
}
.gifts-container {
  display: flex;
  justify-content: space-between;
}
.gifts .title-second {
  width: 443px;
  margin: 0 auto 56px auto;
}
.gifts-container div {
  width: 570px;
  height: 268px;
  border-radius: 15px;
  background-color: #ff7799;
  background-repeat: no-repeat;
  background-position: 370px bottom;
}
.raspberries {
  background-image: url(../images/png/raspberries.png);
}
.marshmallow {
  background-image: url(../images/png/marshmallow.png);
}
.gifts-container .title-third {
  margin: 40px 0 16px 40px;
  width: 254px;
}
.gifts-container .paragraph-second {
  margin: 0 0 32px 40px;
  color: #2d3440;
}
.raspberries .paragraph-second {
  width: 321px;
}
.marshmallow .paragraph-second {
  width: 294px;
}
.gifts-container .button {
  margin: 0 0 0 40px;
}
/*карточки товаров*/
.popular {
  margin: 0 0 80px 0;
  width: 1170px;
}
.popular .title-second {
  margin:  0 auto 56px auto;
  width: 527px;
}
.popular-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 30px;
  list-style-type: none;
}
.popular-item {
  margin: 51px 0 0 0;
  width: 270px;
  background-color: #fcfcfc;
  border-radius: 10px;
  text-align: center;
}
.img-link {
  margin: -51px auto 16px auto;
  display: block;
}
.ball {
  border-radius: 50%;
}
.description {
  margin: 0 auto 24px auto; 
  width: 190px;
  display: flex;
  flex-wrap: wrap;
}
.description .title-fourth {
  width: 190px;
  margin: 0 0 8px 0;
  text-align: center;
}
.description .paragraph-second {
  width: 190px;
  margin: 0 0 16px 0;
  text-align: center;
}
.description .price {
  width: 158px;
  margin: 0;
  align-self: center;
  text-align: left;
}
.cart {
  min-width: 32px;
  min-height: 32px;
  border-radius: 50px;
  border: 2px solid #ff2f64;
  padding: 0;
  background-color: #ff2f64;
  background-image: url(../images/svg/cart_white.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.cart:hover {
  background-color: #fcfcfc;
  background-image: url(../images/svg/cart.svg);
}
.cart:focus {
  border: 2px solid #2d3440;
  background-color: #ff2f64;
  background-image: url(../images/svg/cart_white.svg);
}
.cart:disabled {
  border: 2px solid #b9b9b9;
  background-color: #b9b9b9;
  background-image: url(../images/svg/cart_grey.svg);
}
/*Информация о товаре*/
.info {
  margin: 0 0 80px 0;
  padding: 24px;
  width: 1122px;
  border-radius: 15px;
  background-image: url(../images/jpg/wafer.jpg);
}
.info-container {
  box-sizing: border-box;
  padding: 56px 40px 56px 40px;
  width: 1122px;
  border-radius: 15px;
  background-color: #fcfcfc;
}
.info-container .title-second {
  margin: 0 auto 56px auto;
  width: 995px;
}
.advantages-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-row-gap: 40px;
  grid-column-gap: 31px;
  grid-template-columns: auto auto;
  list-style-type: none;
}
.advantage {
  padding: 0 0 0 64px;
  width: 442px;
  background-repeat: no-repeat;
}
.ice-cream {
  background-image: url(../images/svg/ice_cream.svg);
}
.cow {
  background-image: url(../images/svg/cow.svg);
}
.leaf {
  background-image: url(../images/svg/leaf.svg);
}
.ice-cream-cone {
  background-image: url(../images/svg/thermometer.svg);
}
/*Обёртка для секций блога и формы подписи*/
.blog-newsletter-container {
  margin: 0 0 80px 0;
  display: flex;
  justify-content: space-between;
}
.blog-newsletter-container section {
  box-sizing: border-box;
  width: 570px;
  border-radius: 15px;
}
/*Блог*/
.blog {
  padding: 32px;
  width: 570px;
  height: 220px;
  background-image: url(../images/jpg/background_1.jpg);
  background-repeat: no-repeat;
}
.blog .paragraph-third {
  margin: 0 0 12px 0;
}
.blog .link {
  display: block;
  width: 303px;
}
/*Форма подписи на рассылку*/
.newsletter {
  box-sizing: border-box;
  background-image: url(../images/jpg/stripes.jpg);
  padding: 6px; 
}
.newsletter-container {
  box-sizing: border-box;
  padding: 26px;
  width: 558px;
  height: 208px;
  border-radius: 15px;
  background-color: #fcfcfc;
}
.newsletter-container .paragraph-second {
  margin: 0 0 42px 0;
  width: 506px;
}
.newsletter-form {
  display: flex;
  justify-content: space-between;
}
.newsletter-form .paragraph-third {
  padding: 14px 16px 14px 16px;
  box-sizing: border-box;
  color: #2d3440;
  border: 1px solid #b9b9b9;
  border-radius: 5px;
  width: 332px;
  height: 48px;
}

/*Доставка*/
.delivery {
  margin: 0 0 80px 0;
  width: 1170px;
  height: 534px;
  border-radius: 15px;
  background-image: url(../images/jpg/background_2.jpg);
  background-repeat: no-repeat;
  display: flex;
}
.delivery-form-description {
  padding: 167px 135px 0 100px; 
  width: 371px;
}
.delivery-form-description .title-second {
  margin: 0 0 24px 0;
}
.delivery-form-container {
  margin: 64px 64px 64px auto;
  padding: 40px;
  border-radius: 15px;
  width: 420px;
  background-color: #fcfcfc;
}
.delivery-form-container .paragraph-second {
  margin: 0 0 32px 0;
  width: 380px;
}
.delivery .title-second {
  text-align: left;
}
.delivery-form {
  width: 420px;
  display: grid;
  grid-template-areas: "date telephone"
                       "adress adress"
                       "button button";
  grid-column-gap: 16px;
  grid-row-gap: 20px;
}
.delivery-form .paragraph-third-bold {
  color: #2d3440;
}

.delivery-form .paragraph-third {
  color: #2d3440;
}
.date {
  grid-area: date;
  width: 117px;
  height: 76px;
}
.date .paragraph-third {
  box-sizing: border-box;
  margin: 8px 0 0 0;
  padding: 14px 16px;
  width: 117px;
  height: 48px;
  border: 1px solid #b9b9b9 ;
  border-radius: 5px;
}
.telephone {
  grid-area: telephone;
  width: 287px;
  height: 76px;
}
.telephone .paragraph-third {
  box-sizing: border-box;
  margin: 8px 0 0 0;
  padding: 14px 16px;
  width: 287px;
  height: 48px;
  border: 1px solid #b9b9b9 ;
  border-radius: 5px;
}
.adress {
  grid-area: adress;
  width: 420px;
  height: 76px;
}
.adress .paragraph-third {
  box-sizing: border-box;
  margin: 8px 0 0 0;
  padding: 14px 16px;
  width: 420px;
  height: 48px;
  border: 1px solid #b9b9b9 ;
  border-radius: 5px;
}
.input-info {
  display: block;
  padding: 0 18px 0 0;
  width: max-content; 
  background-image: url(../images/svg/info.svg);
  background-repeat: no-repeat;
  background-position: right;
}
.delivery-form .button-second {
  margin: 0 auto;
  grid-area: button;
  color: #fcfcfc;
}
.delivery-form .button-second:hover {
  color: #2d3440;
}
/*Контакты*/
.contacts {
  box-sizing: border-box;
  padding: 64px;
  width: 1170px;
  height: 492px;
  background-image: url(../images/jpg/background_3.jpg);
  background-repeat: no-repeat;
  border-radius: 15px;
}
.contacts-container {
  box-sizing: border-box;
  border-radius: 15px;
  padding: 40px;
  width: 343px;
  background-color: #fcfcfc;
}
.contacts-container .paragraph-second {
  width: 179px;
  margin: 0 0 12px 0;
}
.contacts-container .telephone-paragraph {
  width: 203px;
}
.contacts-container .title-fourth {
  margin: 0 0 24px 0;
}
.contacts-container .signature {
  margin: 0 0 32px 0; 
}

/*ФУТЕР*/
.page-footer {
  padding: 48px 0 48px 0;
  width: 1170px;
  margin: 0 auto;
  display: flex;
}
.social-list-side {
  margin: 0 299px 0 0;
  width: 108px;
}
.social-list-side a {
  margin: 0;
}
.social-list-side .social-item {
  margin: 0 12px 12px 0;
  width: 28px;
  height: 28px;
}
.social-list-side .social-item:nth-child(3n) {
  margin: 0 0 12px 0;
}
.info-list-section {
  margin: 0 auto 0 0;
  width: 356px;
}
.info-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 8px;
}
.info-list .info-item {
  padding: 0 0 0 24px;
}
.info-list .info-item:nth-child(1) {
  background-image: url(../images/svg/heart_fill.svg);
  background-repeat: no-repeat;
  background-position: left;
}
.htmlacademy-side {
  width: 193px;
}
.htmlacademy-link {
  display: block;
  margin: 0 0 14px 0;
}
/*Логотип htmlacademy в футере*/
.htmlacademy-side .signature-second {
  color: #2d3440;
}
/*Ссылка на htmlacademy*/
.htmlacademy-side .link {
  text-decoration: none;
  position: relative;
}
.htmlacademy-side .link::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #2d3440;
  opacity: 0.5;
  bottom: -1px;
  left: 0;

}
/*Модальное окно*/
.modal-container {
  width: 570px;
  margin: 0 auto;
}
.modal-form .paragraph-third {
  color: #2d3440;
}

/*КАТАЛОГ*/
/*Хлебные крошки*/
.breadcrumbs {
  margin: 0 0 16px 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}
.breadcrumbs-item {
  margin: 0 8px 0 0;
  padding: 0 20px 0 0;
  background-image: url(../images/svg/chevrons_right.svg);
  background-repeat: no-repeat;
  background-position: right;
}
.breadcrumbs-item:nth-last-child(1) {
  background-image: none;
}
.breadcrumbs-item .link {
  position: relative;
  border-bottom: 1px solid #2d3440;
  outline:none;
}
.breadcrumbs-item:nth-last-child(1) .link {
  border-bottom: none;
}
.breadcrumbs-item .link:hover {
  opacity: 0.4;
}
.breadcrumbs-item .link:focus {
  border: 1px solid #2d3440;
  border-radius: 50px;
}
.inner-header .title-second {
  margin: 0 0 40px 0;
  text-align: left;
}
/*Форма с фильтрами в каталоге*/
.catalog {
  margin: 0 0 48px 0;
}
.catalog-filter .signature {
  color: #2d3440;
  padding: 0 0 0 16px; 
}
.catalog-filter {
  margin: 0 0 48px 0;
  display: flex;
  flex-wrap: wrap;
  width: 807px;
}
.filter-group:nth-child(1) {
  min-width: 196px;
  margin: 0 24px 16px 0;
  padding: 0;
  border: none;
}
.select-control {
  margin: 8px 0 0 0;
  padding: 0 16px 0 16px;
  width: 196px;
  height: 36px;
  background-color: #ffcbd8;
  border-radius: 50px;
  border: none;
  box-sizing: border-box;
}
.filter-group:nth-child(2) {
  width: 196px;
  margin: 0 24px 16px 0;
  padding: 0;
  border: none;
}
.range-slider {
  margin: 6px 0 0 0;
  padding: 17px 16px 17px 16px;
  width: 196px;
  height: 36px;
  background-color: #ffcbd8;
  border-radius: 50px;
  box-sizing: border-box;
}
.range-scale {
  position: relative;
  height: 2px;
  background-color: rgba(86, 92, 102, 0.3);
  border-radius: 50px;
}
.range-bar {
  position: absolute;
  height: 2px;
  background-color: #565c66;
}
.range-toggle {
  position: absolute;
  top: -7px;
  padding: 0;
  width: 16px;
  height: 16px;
  background-color: #fcfcfc;
  border: solid 6px #2d3440; 
  border-radius: 50px;
}
.toggle-min {
  left: -8px;
}
.toggle-max {
  right: -8px;
}
.filter-input[type='number'] {
  -moz-appearance: textfield;
  padding: 0;
}
.filter-input::-webkit-outer-spin-button,
.filter-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.filter-input {
  width: 30px;
  border: none;
  padding: 0;
  background-color: #feafc3;
}
.catalog-filter .rubles {
  padding: 0; 
}
.filter-group:nth-child(3) {
  width: 367px;
  box-sizing: border-box;
  margin: 0 0 16px 0;
  padding: 0;
  border: none;
}
.filter-group:nth-child(3) .filter-list {
  display: flex;
  list-style-type: none;
  margin: 8px 0 0 0;
  padding: 0 16px 0 16px;
  width: 367px;
  height: 36px;
  background-color: #ffcbd8;
  border-radius: 50px;
  border: none;
  box-sizing: border-box;
  justify-content: space-between;

}
.filter-group:nth-child(4) {
  width: 596px;
  box-sizing: border-box;
  margin: 0 20px 0 0;
  border: none;
  padding: 0;
}
.filter-group:nth-child(4) .filter-list {
  display: flex;
  list-style-type: none;
  margin: 8px 0 0 0;
  padding: 0 16px 0 16px;
  width: 596px;
  height: 36px;
  background-color: #ffcbd8;
  border-radius: 50px;
  border: none;
  box-sizing: border-box;
  justify-content: space-between;

}
/*Кнопка в фильтре каталога*/
.catalog-filter .button {
  background-color: #ffcbd8;
  box-sizing: border-box;
  margin: 0 0 0 auto;
  box-shadow: 0 0 0 2px #fcfcfc;
  border: none;
  padding: 8px 53px 8px 53px;
  align-self: flex-end;
  outline: none;
}
.catalog-filter .button:hover {
  background-color: #fcfcfc;
  box-shadow: 0 0 0 2px #ffcbd8;
}
.catalog-filter .button:focus {
  box-shadow: 0 0 0 2px #2d3440;
}
.catalog-filter .button:disabled {
  opacity: 0.4;
}
/*Карточки товаров*/
.catalog-list {
  padding: 0;
  margin: 0 0 16px 0;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 30px;
  grid-row-gap: 40px;
  list-style-type: none;
}
.catalog-item {
  margin: 51px 0 0 0;
  width: 270px;
  background-color: #fcfcfc;
  border-radius: 10px;
  text-align: center;
}
/*Пагинация*/
.pagination-container {
  padding: 41px 0 41px 0;
  display: flex;
}
.pagination-container .button {
  margin: 0 auto 0 494px;
}
.pagination {
  align-items: center;
  margin: auto 0;
  display: flex;
  list-style-type: none;
  padding: 0;
}
.pagination-item .link {
  display: block;
  box-sizing: border-box;
  text-align: center;
  vertical-align: central;
  padding: 1px 0 0 0;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(252, 252, 252, 0);
  border-radius: 50px;
  outline: none;
}
.pagination-item-arrow-left .link {
  margin: 0 16px 0 0;
  padding: 3px 0 0 0;
}
.pagination-item-current .link {
  background-color: #fcfcfc;
  border: 1px solid  #fcfcfc;
  outline: none;
}
.pagination-item .link:hover {
  background-color: #ffcbd8;
  border: 1px solid  #fcfcfc;
}
.pagination-item .link:focus {
  background-color: #ffcbd8;
  border: 1px solid #2d3440;
}
.pagination-item-arrow-right .link {
  margin: 0 0 0 16px;
  padding: 3px 0 0 0;
}
.end-of-list .link {
  opacity: 0.2;
}
.end-of-list .link:hover {
  opacity: 1;
}
.end-of-list .link:focus {
  opacity: 1;
}
