@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

/*ОБЩИЕ СТИЛИ*/
html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "inter", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  color: #565c66;
  background-color: #feafc3;
}

/*тексты*/
.title-first {
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  color: #2d3440;
}
.title-second {
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2d3440;
  text-align: center;
}
.title-third {
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2d3440;
}
.title-fourth {
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2d3440;
}
.title-fifth {
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #2d3440;
}
.paragraph-first {
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #2d3440;
}
.paragraph-second {
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565c66;
}
.paragraph-third {
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #565c66;
}
.paragraph-third::-webkit-input-placeholder {
  color: #b9b9b9;
}

.paragraph-third::-moz-placeholder {
  color: #b9b9b9;
}

.paragraph-third:-ms-input-placeholder {
  color: #b9b9b9;
}

.paragraph-third:-moz-placeholder {
  color: #b9b9b9;
}

.paragraph-third-bold {
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #565c66;
}
.signature {
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #565c66;
}
.signature-bold {
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #565c66;
}
.signature-second {
  font-family: "inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #565c66;
}
.link {
  text-decoration: none;
  color: #2d3440;
}
.button {
  text-align: center;
  text-decoration: none;
  color: #2d3440;
  background-color: #fcfcfc;
}
.button-second {
  text-align: center;
  text-decoration: none;
  color: #fcfcfc;
  background-color: #ff2f64;
}

/*ШАПКА*/
.page-header {
  display: flex;
  width: 1170px;
  margin: 0 auto;
}
.logo-link {
  margin-right: 16px;
}
.navigation {
  display: flex;
  width: 1017px;
}
.nav-list-left {
  margin: 0 auto 0 0;
  padding: 0;
  width: 400px;
  list-style-type: none;
}
.navigation a {
  width: 148px;
  margin: 0 10px 0 0;
}
.nav-list-right {
  margin: 0;
  padding: 0;
  width: 261px;
  list-style-type: none;
}
/*ОСНОВНАЯ ЧАСТЬ ГЛАВНОЙ СТРАНИЦЫ*/
.main-container {
  flex-grow: 1;
  width: 1170px;
  margin: 0 auto;
}
/*Слайдер*/
.main-products {
  margin: 0 0 80px 0;
}
/*Подарки*/
.gifts {
  margin: 0 0 80px 0;
}
.gifts-container {
  display: flex;
  justify-content: space-between;
}
.gifts .paragraph-second {
  color: #2d3440;
}
.gifts-container div {
  width: 570px;
  background-color: #ff7799;
}
.raspberries {
  width: 570px;
  height: 268px;
  background-image: url(../images/png/raspberries.png);
  background-repeat: no-repeat;
  background-position: right;
}
.marshmallow {
  width: 570px;
  height: 268px;
  background-image: url(../images/png/marshmallow.png);
  background-repeat: no-repeat;
  background-position: right;
}

/*карточки товаров*/
.popular {
  margin: 0 0 80px 0;
  width: 1170px;
}
.popular-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.popular-item {
  width: 270px;
  background-color: #fcfcfc;
}
.description .title-fourth {
  text-align: center;
}
.description .paragraph-second {
  text-align: center;
}
/*Информация от товаре*/
.info {
  margin: 0 0 80px 0;
  width: 1170px;
  background-color: #fcfcfc;
}
.advantages-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: auto auto;
}
/*Обёртка для секций блога и формы подписи*/
.blog-newsletter-container {
  margin: 0 0 80px 0;
  display: flex;
  justify-content: space-between;
}
.blog-newsletter-container section {
  width: 570px;
}
/*Блог*/
.blog {
  width: 570px;
  height: 220px;
  background-image: url(../images/jpg/background_1.jpg);
  background-repeat: no-repeat;
}

/*Форма подписи на рассылку*/
.newsletter {
  background-color: #fcfcfc;
}
.newsletter-form .paragraph-third {
  color: #2d3440;
}

/*Доставка*/
.delivery {
  margin: 0 0 80px 0;
  width: 1170px;
  height: 534px;
  background-image: url(../images/jpg/background_2.jpg);
  background-repeat: no-repeat;
  display: flex;
}
.delivery-form-description {
  margin: 0 135px 0 100px;
  width: 371px;
}
.delivery-form-container {
  margin: 64px 64px 64px auto;
  width: 500px;
  background-color: #fcfcfc;
}
.delivery .title-second {
  text-align: left;
}
.delivery-form .paragraph-third-bold {
  color: #2d3440;
}

.delivery-form .paragraph-third {
  color: #2d3440;
}

.delivery-form .button-second {
  color: #fcfcfc;
}
/*Контакты*/
.contacts {
  width: 1170px;
  height: 492px;
  background-image: url(../images/jpg/background_3.jpg);
  background-repeat: no-repeat;
}
.contacts-container {
  margin: 64px 763px 64px 64px;
  width: 343px;
  background-color: #fcfcfc;
}
/*ФУТЕР*/
.page-footer {
  width: 1170px;
  margin: 0 auto;
  display: flex;
}
.social-list-side {
  margin: 0 299px 0 0;
  width: 104px;
}
.info-list-section {
  margin: 0 auto 0 0;
  width: 356px;
}
.htmlacademy-side {
  width: 193px; 
}
/*Логотип htmlacademy в футере*/
.htmlacademy-side .signature-second {
  color: #2d3440;
}
/*Ссылка на htmlacademy*/
.htmlacademy-side .link {
  text-decoration: underline;
}
/*Модальное окно*/
.modal-container {
  width: 570px;
  margin: 0 auto;
}
.modal-form .paragraph-third {
  color: #2d3440;
}

/*КАТАЛОГ*/
/*Хлебные крошки*/
.breadcrumbs {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}
.breadcrumbs-item {
  margin: 0 28px 0 0;
}
/*Форма с фильтрами в каталоге*/
.catalog {
  margin: 0 0 48px 0;
}
.catalog-filter .signature {
  color: #2d3440;
}
.catalog-filter {
  margin: 0 0 48px 0;
  display: flex;
  flex-wrap: wrap;
  width: 807px;
}
.filter-group:nth-child(1) {
  min-width: 196px;
  margin: 0 24px 16px 0;
  padding: 0;
  border: none;
}
.filter-group:nth-child(2) {
  width: 196px;
  margin: 0 24px 16px 0;
  padding: 0;
  border: none;
}
.filter-input[type='number'] {
  -moz-appearance: textfield;
}
.filter-input::-webkit-outer-spin-button,
.filter-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.filter-input {
  width: 30px;
  border: none;
  padding: 0;
  background-color: #feafc3;
}
.filter-group:nth-child(3) {
  width: 367px;
  box-sizing: border-box;
  margin: 0 0 16px 0;
  padding: 0;
  border: none;
}
.filter-group:nth-child(3) .filter-list {
  display: flex;
  list-style-type: none;
}
.filter-group:nth-child(4) {
  width: 596px;
  box-sizing: border-box;
  margin: 0 24px 0 0;
  border: none;
  padding: 0;
}
.filter-group:nth-child(4) .filter-list {
  display: flex;
  list-style-type: none;
  padding: 0;
}
/*Кнопка в фильтре каталога*/
.catalog-filter .button {
  width: 187px;
  background-color: #ffcbd8;
  box-sizing: border-box;
  margin: 0;
  border: 2px solid #fcfcfc;
  padding: 0;
}
/*Карточки товаров*/
.catalog-list {
  padding: 0;
  margin: 0 0 16px 0;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 30px;
  grid-row-gap: 40px;
  list-style-type: none;
}
.catalog-item {
  width: 270px;
  background-color: #fcfcfc;
}
/*Пагинация*/
.paination-container {
  display: flex;
}
.paination-container .button {
  width: 179px;
  margin: 0 335px 0 auto;
}
.pagination {
  display: flex;
  list-style-type: none;
  padding: 0;
}
